/*h1{
	text-align: center;
	color: white;
}

table{
	text-align: center;
	color:blue ;
}
.login{
	text-align: center;
	align-items: center;
}

button{
	background: blue;
	color:white;
}
input{
	border-radius: 20px;
}

*/