<!-- 

// <div class="container">
//   <div class="row">
//     <div class="col-xs-12">
//       <h2>
//         I am in the AppComponent!
//       </h2>
//       <hr>
//       <app-servers>

//       </app-servers>
//       <app-header>

//       </app-header>
//        </div>
//     </div>
// </div>

// <div class="container">
//   <app-even-or-odd>
// </app-even-or-odd>
//   </div>

 
//     <br>
//     <br>
      
//       <div align="center">
//     <form name="calculator" class="arithmatic_form">  
      
//     Number 1: <input type="text" name="number1"> <br><br>
//     Number 2: <input type="text" name="number2" id="disable">   
//     <br>
//     <br>  
//     Result: <input type="text" name="total">   
//     <br>
//     <br>
      
//     <input class="rButton"type="button" value="ADD" onclick="javascript:addition();">  
//     <input class="rButton"type="button" value="SUB" onclick="javascript:subtraction();">  
//     <input class="rButton"type="button" value="MUL" onclick="javascript:multiply();">  
//     <input class="rButton"type="button" value="DIV" onclick="javascript:division();">  
//     <input class="rButton"type="button" value="MOD" onclick="javascript:modulus();">  
//     <input class="rButton"type="button" value="Fact" onclick="javascript:factoriaB();">  
    
      
//     </form>  
//       </div>



//       <div class="container">
//         <div class="row">
//           <div class="col-xs-12">
//             <button 
//             class="btn btn-primary"
//             (click)="onlyOdd = !onlyOdd">  Only show odd numbers
//             </button>
//             <br><br>
//             <ul class="list-group">
//               <div *ngIf="onlyOdd">
//                 <li
//                   class="list-group-item"
//                   [ngClass]="{odd:odd % 2 !==0}"
//                   [ngStyle]="{backgroundColor:odd % 2 !==0 ? 'yellow' : 'transparent'}"
//                   *ngFor="let odd of oddNumbers">
//                   {{ odd }}
//                 </li>
//               </div>
      

//       <div *ngIf="!onlyOdd">
//         <li

//           class="list-group-item"
//           [ngClass]="{odd:even % 2 !==0}"
//           [ngStyle]="{backgroundColor:even % 2 !==0 ? 'yellow' : 'transparent'}"
//            *ngFor="let even of evenNumbers">
//            {{ even }}
//         </li>
//       </div>
//        </ul>


//           </div>
//         </div>
//       </div>
 

//  <div class="container">
//   <div class="row">
//     <div class="col-xs-12">
//       <h2>
//         I am in the AppComponent!
//       </h2>
//       <hr>
//       <p [appBetterHighlight] >Style me with basic directive!</p>
//  <p appBetterHighlight >Style me with basic directive!</p> -->

<!-- //  <p [appNewdir] >Style me with basic directive!</p>

//   <img [appNewdir] [src] ="sr" >
//  <img [src]="m" >


//       <app-c1>
        
//       </app-c1>

//      <app-one>
//       </app-one>

//       <app-two>
//       </app-two>
      
//       <app-three>
//       </app-three> -->
<!-- //        </div>
//     </div>
// </div> 
 -->


<!-- 
 <div appBetterHighlight class="container">
//   <h2>Basic Table</h2>
//   <p>The .table class adds basic styling (light padding and only horizontal dividers) to a table:</p>            
//   <table class="table">
//     <thead>
//       <tr>
//         <th>Firstname</th>
//         <th>Lastname</th>
//         <th>Email</th>
//       </tr>
//     </thead>
//     <tbody>
//       <tr>
//         <td>John</td>
//         <td>Doe</td>
//         <td>john@example.com</td>
//       </tr>
//       <tr>
//         <td>Mary</td>
//         <td>Moe</td>
//         <td>mary@example.com</td>
//       </tr>
//       <tr>
//         <td>July</td>
//         <td>Dooley</td>
//         <td>july@example.com</td>
//       </tr>
//     </tbody>
//   </table>
// </div> -->


 <div class="container">
   <div class="row">
  <div class="col-xs-12">
      <h2>
        I am in the App Component!
      </h2>
      <hr>
     <app-form2>
     </app-form2>
       </div>
    </div>
</div>


<button type="button" class="btn btn-primary" (click)="f1()">Button 1</button>
<button type="button" class="btn btn-primary" (click)="f2()">Button 2</button>
<button type="button" class="btn btn-primary" (click)="f3()">Button 3</button>

<h2>
  {{name}}
  {{id}}
  {{city}}

</h2>