<!-- <p>
  one works!
</p> -->
<!-- username:
<input  type="text" id="username">
<br>
password:
<input  type="text" id="password">
<br>
{{expression}}
[target]="expression"
bind-target="expression"
<button 
	class="btn btn-primary" 

	(click)="validate()">validate</button> -->

<!-- <form action="/action_page.php"> -->

<!-- <img [src]="sr" >

  username:<input type="text" [(ngModel)]="u">
  password:<input type="text" [(ngModel)]="p"> -->

  <!-- <div class="checkbox">
    <label><input type="checkbox"> Remember me</label>
  </div> -->
 <!--  <button class="btn btn-danger" (click)="validate()">Submit</button> -->
<!-- </form> -->



<div [ngSwitch]="akshaya">
	<br>
	<p  *ngSwitchCase="5">five</p>
	<p  *ngSwitchCase="6">six</p>
	<p  *ngSwitchCase="7">seven</p>
	<p  *ngSwitchCase="8">eight</p>
	<p  *ngSwitchDefault>Default</p>



</div>

